.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.img {
    width: 200px;
    height: 200px;
    margin: 30px;
    background-color: red;
    border-radius: 15px;
}