<div class="jumbotron text-center">
  <button class="btn btn-success btn-lg" (click)="throwDice()">Tirar dados</button>
  <br>
  <img  class="img" [src]="diceLeft">
  <img  class="img" [src]="diceRight">
  <h1 *ngIf="numberOne === numberTwo"><span class="badge bg-success">Ganaste</span></h1>
</div>
